.footer_block {
  height: 98px;
  margin: 0 50px 88px 50px;

  display: grid;
  grid-template-columns: 1fr 149px 1fr;
}

.footer_address {
  width: 240.52px;
  
  font-style: normal;
  line-height: 24.3px;

  justify-self: start;
}

.footer_address a {
  text-decoration: none;
}

.footer_list {
  text-align: center;
  list-style: none;

  line-height: 21.13px;
}

.socials {
  width: 240px;
  height: 48px;
  list-style: none;

  justify-self: end;

  display: inline-flex;
}

.socials li {
  margin-right: 48px;
  height: 48px;
  width: 48px;
}

.socials li:last-child {
  margin-right: 0;
}