.header_block {
  padding: 92px 50px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
}

.header_list {
  list-style: circle;
  display: flex;
  /* padding-left: 20px; */
}

.header_list li {
  margin-right: 30px;
  line-height: 21.13px;
  letter-spacing: 0.66px;
}

.header_list li:first-child {
  list-style: none;
}

.header_list li:last-child {
  margin-right: 0;
}

.header_logo {
  height: 105px;
  width: 148px;

  margin-left: auto;
  margin-right: auto;
}

.header_address {
  width: 240.52px;
  font-style: normal;
  justify-self: end;
}