.bet_section {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.title {
  height: 355px;
  padding: 165px 50px 237px 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.title-item-1 {
  grid-row: 1;
  line-height: 115px;
  letter-spacing: 0.3em; 
}

.title-item-2 {
  text-align: center;
  margin-right: 44px;

  grid-row: 2;
  line-height: 100px;
  letter-spacing: 0.3em;
}

.title-item-3 {
  text-align: end;
  letter-spacing: 0.2935em;

  grid-row: 3;
  line-height: 100px;
}

.bottom_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 253px 50px 51px 50px;
}

.bottom_section span {
  margin-left: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.bottom_section button {
  height: 51px;
  width: 256px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 25.83px;
  background: transparent;
  color: #ffffff;
}

.lots {
  height: 692px;
  margin: 179px 24px 146px 24px;
}

.lots-title {
  margin-left: 40px;

  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
}

.lots-cards {
  height: 563px;
  display: grid;
  grid-template-columns: repeat(3, 334px);
  gap: 25px;

  margin: 27px 0 32px 0;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #ffffff;

  padding: 51px 40px 46px 40px;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-transform: uppercase;
  
  text-decoration: underline;
}

.card-text-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.lots-card-1 {
  background-image: url(../images/card-lot-01.jpg);
}

.lots-card-2 {
  background-image: url(../images/card-lot-02.jpg);
}

.lots-card-3 {
  background-image: url(../images/card-lot-03.jpg);
}

.text-content-1 {
  letter-spacing: 0.4px;
}
.text-content-2 {
  letter-spacing: 0.34px;
}
.text-content-3 {
  letter-spacing: 0.01em;
}

.show-more {
  margin-left: 40px;
  line-height: 23.48px;
  font-size: 20px;
  letter-spacing: 0.58px;
}

.about {
  display: grid;
  grid-template-columns: 287px 693px;
  gap: 72px;

  height: 595px;
  margin: 146px 24px 180px 24px;
}

.logo-circle {
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 50%;

  margin: 35px 0 0 47px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 148px;
  background-image: url('../images/logo-white.svg');
}

.about-column-text {
  height: 449px;
  margin: auto 0 13px 0;
}

.about-column-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.about-text-block {
  margin-top: 100px;
  height: 312px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-text-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.029em;
  text-align: left;
}

.about-text-2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.1254px;
}